
@font-face {
  font-family: 'Pokemonkana';
  src: url('assets/fonts/PokemonGbJapanKana.ttf') format('truetype');
}

@font-face {
  font-family: 'PokemonHira';
  src: url('assets/fonts/PokemonGbJapanHira.ttf') format('truetype');
}

h1 {
  font-family: 'PokemonKana', sans-serif;
  font-size: 2rem;
}

h2 {
  font-family: 'PokemonKana', sans-serif;
  font-size: 1.5rem;
}